<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>To Do List</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap'>
      <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css'>
      {% block script %}
      <!--          fontawesome-->
      <script src="https://kit.fontawesome.com/edb274a150.js" crossorigin="anonymous"></script>
      <script>
         if(window.history.replaceState){
         window.history.replaceState(null,null,window.location.href);
         }
      </script>
      {% endblock %}
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">To Do List</a>
         <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
               </li>
               {% if not current_user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
               </li>
               {% endif %}
               {% if current_user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
               </li>
               {% endif %}
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('to_do_list.get_all_to_do_lists') }}">To do list</a>
               </li>
            </ul>
         </div>
      </nav>
      {% block content %}
      {% endblock %}
   </body>
</html>